.experience {
    .experience__card {
        display: grid;
        grid-template-columns: min-content 5fr;
        grid-template-rows: min-content auto;
        grid-row-gap: 1.2em;
        grid-column-gap: 0.8em;

        .experience__logo {
            background: #f5f5f5;
            border-radius: 50%;
            box-shadow: $box-shadow;
            width: 60px;
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;

            img {
                max-height: 110%;
                max-width: 110%;
                object-fit: fit;
            }
        }

        .experience__positions {
            grid-column: span 2;
            width: 90%;
            margin: 0px auto;
            
            h4 {margin-bottom: 0.5em; }
            
            .job__description { 
                margin-bottom: 2em;
                padding-left: 1.2em;
                list-style-type: circle;
            }
        }

        header {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 60px;
        }
    }

    .experience__logo {
        border-radius: 50%;
        width: 5rem;
    }
}

@media screen and (min-width: 1070px) {
    .experience .container, .education .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 2em;
        grid-row-gap: 1em;
    }
}


