.home {
    height: 100vh;
    padding-top: 15vh;
    
    h3 {
        text-align: center;
        font-weight: 500;
    }

    .portrait {
        max-width: 150px;
        max-height: 150px;
        border-radius: 50%;
        margin-bottom: 2rem;
    }

    .media__buttons {
        display: flex;
        flex-wrap: wrap;
        
        button {
            background: linear-gradient(150deg, #1BDC8C, #149762 75%);
            box-shadow: $box-shadow;
            border: none;
            width: 45px;
            height: 45px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 2rem;
        }
        button:not(:last-child) {
            margin-right: 20px;
        }
    }

    .swipe__signifier {
        cursor: pointer;
        height: fit-content;
        margin-top: auto;
        margin-bottom: auto;
        padding: 1em;

        svg {
            stroke: var(--text);
            fill: none;
        }
    }
}