.home {
    min-height: 100vh;
    padding-top: 15vh;

    .portrait, h1, h3, .swipe__signifier, .media__buttons {
        margin-bottom: 1rem;
    }

    h3 {
        text-align: center;
        font-weight: 500;
    }

    .portrait {
        max-width: 150px;
        max-height: 150px;
        border-radius: 50%;
    }

    .media__buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
        button {
            background: linear-gradient(150deg, #1BDC8C, #149762 75%);
            box-shadow: $box-shadow;
            border: none;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0.5em 1em;
            margin-bottom: 1em;
            
            p {
                font: 0.9rem 'DM Sans';
                color: var(--background-2);
                letter-spacing: 0.02em;
                font-weight: 500;
                margin-left: 1em;
            }
        }
        button:not(:last-child) {
            margin-right: 20px;
        }
    }

    .swipe__signifier {
        cursor: pointer;
        height: fit-content;
        margin: auto 0px;
        padding: 1em;

        svg {
            stroke: var(--text);
            fill: none;
        }
    }
}