.overlay.hidden, .modal.hidden { display: none; }

.overlay {
    background: rgba(0,0,0, 0.6);
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

.modal {
    position: fixed;
    z-index: 2;
    top: 10%;
    left: 5%;
    width: 90%;
    max-height: 80vh;
    overflow-y: auto;

    .section__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1em 1.5em;
        background: none;

        button { padding: 0.2em; }
        h2 {
            text-align: left;
            text-overflow: ellipsis;
            width: 80%;
            white-space: nowrap;
            overflow: hidden;
        }
    }

    .content {
        width: 90%;
        margin: 1em auto 0px auto;
        overflow-y: auto;

        #modal__images {
            display: flex;
            flex-direction: column;
            img {
                max-width: 100%;
                margin-bottom: 1em;
                border: solid 1px rgba(0,0,0, 0.2);
                border-radius: 20px;
            }
        }

        h4 { margin-bottom: 0.8em;}
        p { padding-bottom: 3em; }
    }
}

@media screen and (min-width: 730px) {
    .modal {
        left: 25%;
        width: 50%;
    }
}

